*{
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: 'SourceHanSansCN-Medium.otf'; 
}
@font-face { 
  font-family: 'SourceHanSansCN-Medium.otf'; /*这里是说明调用来的字体名字*/ 
  src: url('../face/SourceHanSansCN-Medium.otf'); /*这里是字体文件路径*/ 
} 

.all{
	width: 100%;
	margin: 0px auto;
	/*background: url(../img2/bg.jpg) no-repeat center center;*/
	/*-webkit-background-size: 100% 100%;
	background-size: 100% 100%;*/
	border: 1px solid transparent;
	position: relative;
}
.header{
	width: 100%;
}
.header img{
	width: 100%;
	/*height: 100%;*/
}
.con{
	width: 100%;
	overflow: hidden;
	/*padding-bottom: 40px;*/
	background: url(../img2/bg.png) no-repeat center center;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-m-background-size:100% 100%;
	background-size: 100% 100%;
	margin-top: -1%;
}
.page1 .erweima{
	float: left;
	width: 20%;
	/*padding: 30% 20%;*/
}
.page1 .erweima img{
	width: 80%;
	margin:50% 60%;
}
form{
	width: 50%;
	height: 800px;
	/*background: white;*/
	margin:30px 0px 0px 6%;
	float: left;
}
form .title{
	font-size: 36px;
	font-weight: bold;
	color: #0d0375;
}
form div{
	margin-top: 20px;
	/*color: ;*/
	width: 100%;
	/*height: 5%;*/
}
form div span{
	width: 33%;
	display: inline-block;
	text-align: right;
	font-size: 30px;
	padding-right: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/*margin-right: 10px;*/
	/*font-weight: bold;*/
}
input,select{
	display: inline-block;
	width: 64%;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	/*margin-left: 4%;*/
	
}
ul{
	list-style: none;
	width: 100%;
	display: inline-block;
	background-color: white;
	position: absolute;
	z-index: 50;
	left: -1px;
	top: 40px;
	height: 160px;
	overflow: auto;
	border: 1px solid #AAAAAA;
	display: none;
	/*overflow: hidden;*/
	/*display: none;*/
	
	}
	
li{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	cursor: pointer;
}
.trade ul{
	/*display: block;*/
}
.select{
	/*width: 66%;*/
	position: relative;
	}
	.select input{
		display: none;
		}
.select div{
	display: inline-block;
	width: 64%;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	border: 1px solid #AAAAAA;
	background-color: white;
	position: relative;
	}
.select div span{
	width: 100%;
	text-align: left;
	position: relative;
	}
.select div .arrow{
	width: 0px;
	height: 0px;
	border: 10px solid transparent;
	border-top: 10px solid darkgray;
	position: absolute;
	right: 15px;
	top: 15px;

	}
select{
	color: #545454;
	height: 40px;
	
}
/*.font span{
	letter-spacing: 20px;
	}*/
option{
	/*height: 300px;*/
}
.submit{
	text-align: center;
	/*margin-top: 40px;*/
	position: relative;
	margin-left: 240px;
	width: 40%;
	margin: 60px auto;
}
.submit input{
	width: 200px;
	height: 40px;
	line-height: 60px;
	/*position: relative;*/
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	text-indent: 10px;
	
	
	
}
.footer{
	width: 100%;
	clear: both;
}
.footer img{
	width: 100%;
}

/*.sec{
	height: 500px;
}*/
label{
	width: 50%;
	}
label img{
	width: 260px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
}
select option{
	/*height: 30px;
	line-height: 30px;*/
}
.popup{
	position: fixed;
	z-index: 30;
	width: 100%;
	background-color:rgba(0,0,0,0.7);
	top: 0px;
	left: 0px;
	height: 100%;
}
.popup .popupCon{
	position: absolute;
	width: 40%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin:340px auto;
	/*margin: 300px;*/
}
.popup .popupCon img{
	width: 100%;
	float: left;
}
.popup .popupCon .top{
	display: inline-block;
	float: left;
	position: relative;
}
.popup .popupCon .top p{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 44%;
	font-size: 27px;
}
.popup .popupCon .top p span{
	margin-right: 2%;
}
.popup .popupCon .btm{
	display: inline-block;
	float: left;
	margin-top: -1px;
}
.popup .popupCon .btm{
	cursor: pointer;
}
.page2{
	position: relative;
	}
.page2 .container{
	height: 600px;
	width: 100%;
	position: relative;
	text-align: center;
	/*width: 397px;*/
	/*position: absolute;*/
	
}
.page2 .container p{
	text-align: center;
	font-size: 28px;
	color: #565656;
	/*margin-left: 30%;*/
	width: 100%;
	/*font-weight: bold;*/
	}
.page2 .container .return{
	width: 60%;
	margin-top: 5px;
	text-align: center;
	margin-left: 20%;
	/*float: right;*/

	}
.page2 .container .return img{
	width: 100%;
}
.content{
	/*height: 600px;*/
	overflow: hidden;
	position: relative;
	background: url(../img2/bg.png) no-repeat center center;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-ms-background-size:100% 100%;
	-m-background-size:100% 100%;
	background-size: 100% 100%;
	margin-top: -10px;
	width: 100%;
	/*height: 720px;*/
}	

.content .left{
	width: 30%;
	float: left;
	margin:12% 4% 0px 15%;
}
.content .left .hea{
	width: 100%;
}
.content .left .hea img{
	width: 100%;
}
.content .left .right{
	float: right;
	margin-left: 20%;
}
.content .right{
	float: right;
	width: 50%;
}
.content .right .erweima{
	width: 56%;
	/*margin-top: 4%;*/
	margin-top: 14%;
}
.content .right .erweima img{
	width: 60%;
	margin:16% 0px 0px 35%;
}

form div p{
	width: 66%;
	margin-left: 33%;
	height: 30px;
	line-height: 30px;
	}